PORT=8080
GEOIP_CITY_DB=/app/data/GeoLite2-City.mmdb
GEOIP_ASN_DB=/app/data/GeoLite2-ASN.mmdb
BLOCKLIST_LEVEL1=/app/data/firehol_level1.netset
BLOCKLIST_LEVEL2=/app/data/firehol_level2.netset
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
RATE_LIMIT_IP=100
RATE_LIMIT_WHOIS=20
RATE_LIMIT_DOMAIN=20
RATE_LIMIT_EMAIL=20
